
<div class="container">

  <div class="row">
    <h1 class="text-center"><strong>Edit Your Profile</strong></h1>
    <p>Find me in app/views/profiles/edit.html.erb</p>
    <br>
  </div>

  <div class="row">

    <div class="col-md-6"><!-- LEFT COLUMN --> 
      <%= render 'profiles/pro_form' %>
    </div><!-- END LEFT COLUMN -->

    <div class="col-md-6"> <!-- RIGHT COLUMN -->

      <h2><strong> This is the right column</strong></h2>
      <h4> Yes, it is</h4>
      <br>
    </div>

  </div>
</div>
