<div class="col-md-6 col-md-offset-2">
    <div class="panel panel-default">
      <div class="center panel-heading">      
        <h1> New Job Post</h1>
      </div>
      <div class="panel-body">
        <%= render 'jboard_form' %>
      </div>
  </div>
</div>