<div class="col-md-5 col-md-offset-2">
    <div class="panel panel-default">
      <div class="center panel-heading">      
        <h1> Edit Task</h1>
      </div>
      <div class="panel-body">
        <%= render partial: 'tasks/task_form', locals: {task: @task, using_modal: false}  %>
      </div>
  </div>
</div>

