<div class="col-md-6 col-md-offset-2">
    <div class="panel panel-default">
      <div class="center panel-heading">      
        <h1> Edit Cerification</h1>
      </div>
      <div class="panel-body">
        <%= render 'certs/form_fields', locals: {cert: @cert, using_modal: false}  %>
      </div>
  </div>
</div>