<div> 
  <% @pending_connections.each do |user| %>
    <%= user.id %>
    
    <% if @follow.approved == true %>
      <%= link_to "Connected", connect_path(user: @user), class: "btn btn-primary disabled" %>
    <% else %>
      <%= link_to "Accept Connection", connect_path(user: @user), class: "btn btn-primary" %>
      <% @follow.approved = true %>
    <% end %>
  <% end %>
  <% if @follow.approved == true %>
  <div>true</div>
  <% end %>

</div>