<div class="container">
  <div class="row banner">
    <%= link_to(image_tag("300x250.png", :alt => "whatever", :width => 300, :height => 250, :title => "something", class: 'reference'), "http://www.google.com/") %>
  </div>
</div>