<div class="container">
  <div class="row banner">
    <%= link_to(image_tag("dpl_ad.jpg", :alt => "whatever", :width => 300, :height => 200, :title => "something", class: 'reference'), "http://www.devpointlabs.com/", target: "_blank") %>
  </div>
</div>