<div class="container">
  <div class="jumbotron home-jumbotron">
    <h1>About FiredUP.io</h1> 
    <p>FiredUP.io is a social networking app built for firefighters and EMS personnel. Ryan Carter, Aaron Eveleth and Joey Hilton are the authors of this app. Thanks for looking!</p> 
  </div>
</div>