<img src="assets/hero.jpg" class="bg" alt="">
<div class="container">
  <!-- <div class="row"><p>(static/home - rendering devise/registrations/new)</p></div> -->
  <%= render template: 'devise/registrations/new' %>
</div>

