<h1> FiredUp.io Home Page</h1>

<%= render template: 'devise/registrations/new' %>


<h2><%= link_to 'Jobs', jobs_path %></h2>
<h2><%= link_to 'Education', educations_path %></h2>
<h2><%= link_to 'Profile', profiles_path %></h2>
