<%= image_tag "sandgate.jpg", class: "bg" %>
<div class="container">
  <div class=" col-md-12 well">
    <h1 class="text-center">How to use FiredUP.io</h1> 
    <p><strong>Here you will find all you need to know to take advantage of all the benefites FiredUp has to offer.</strong></p> 
  </div>
</div>