<div class="container">
  <div class="jumbotron home-jumbotron">
    <h1>How to use FiredUP.io</h1> 
    <p>Below you will find all you need to know to take advantage of all the benefites FiredUP.io has to offer.</p> 
  </div>
</div>