
<% posts.order("created_at DESC").each do |post| %>
  <% if post.user.followed_by?(current_user) || post.share_with == "public" || post.user == current_user %>
    <div class="panel panel-default">
      <div class="center panel-heading panelOverride">
        <%= link_to image_tag(post.user.image.url(:icon)), post.user.image.url, class: "pull-left iconImagePanel" %>      
        <strong> <%= "#{post.user.first_name} #{post.user.last_name}" %> </strong>
        <small class="text-muted"><%= time_ago_in_words(post.created_at) %> ago </small>
      </div>
      <div class="panel-body panelBodyFeed">
        <%= post.content %>
      </div>
    </div>
  <% end %>
<% end %>

