<% connections.each do |connection| %>

<div>
  <%= link_to image_tag(connection.image.url(:icon), class: "pop", data: { toggle: "popover" ,content: "#{link_to 'Send me a message', new_user_message_path(connection)}", placement: "bottom", title: ("#{connection.first_name} #{connection.last_name}") },), user_path(connection), class: "pull-left iconImagePanel img-circle"%>

</div>

<% end %>



