<div class="container"><!-- START MAIN CONTAINER -->
  
  <div class="container"><!-- START HEADER CONTAINER -->
    <div class="row">
          <div class="col-md-12 text-center headline3">
            <h2>Command Center</h2>
          </div>
    </div>
  </div><!-- END HEADER CONTAINER -->

  <div class="container"><!-- START BODY CONTAINER -->
    <div class="row"> 

      <div class="col-md-2"><!-- START LEFT COLUMN -->
      </div> <!-- END LEFT COLUMN -->

        <div class="col-md-6"><!-- START CENTER COLUMN -->
          <% @posts.order("created_at DESC").each do |post| %>
            <% if post.user.followed_by?(current_user) || post.share_with == "public" || post.user == current_user %>
              <div class="panel panel-default">
                <div class="center panel-heading panelOverride">
                <%= link_to image_tag(post.user.image.url(:icon)), post.user.image.url, class: "pull-left iconImagePanel" %>      
                  <strong> <%= "#{post.user.first_name} #{post.user.last_name}" %> </strong>
                  <small class="text-muted"><%= time_ago_in_words(post.created_at) %> ago </small>
                </div>
                <div class="panel-body panelBodyFeed">
                  <%= post.content %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div> <!-- END CENTER COLUMN -->

        <div class="col-md-4"> <!-- Begin right column -->
      </div> <!-- END right COLUMN -->

    </div><!-- END ROW -->
  </div><!-- END BODY CONTAINER --> 

</div><!-- END MAIN CONTAINER -->   
