<div class="container">

  <div class="container"><!-- START HEADER CONTAINER -->
    <div class="row">
          <div class="col-md-12 text-center headline3">
            <h2>Command Center</h2>
          </div>
    </div>
  </div><!-- END HEADER CONTAINER -->

  <div class="container"><!-- START Body CONTAINER -->
  <div class="row"><!-- Start Second Row -->

    <div class="col-md-2 text-center"><!-- Start Left Column -->
      
    </div><!-- End Left Column -->

    <div class="col-md-6"><!-- Start Center Column -->
        <div class="panel panel-default">
          

          <%= render partial: "posts/feed", locals: {posts: @posts} %>

          
        </div>
    </div> <!-- End Center Column -->

    <div class="col-md-4 text-center"><!-- Start Right Column -->
      <h3>Right Column</h3>
    </div><!-- End Right Column -->

  </div> <!-- End Second Row -->
  </div> <!-- End body container Row -->


</div><!-- End Container -->
