/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require rails_bootstrap_forms
 *= require_tree . 
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome';


// .inline {
//   display: inline;
// }

// .bold {
//   text-decoration: underline;
// }
body { 
  padding-top: 100px; 
  font-family: 'Oxygen', sans-serif;
}

blockquote {
  font-size: 14px;
}

h1 {
  font-family: 'Russo One', sans-serif;
}


.headline{
  font-family: 'Russo One', sans-serif;
  font-size: 50px;
  color:white;
  z-index: 1;
}

.headline3{
  font-family: 'Russo One', sans-serif;
  font-size: 30px;
  color: black;
}

img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

a {
  color: #980905;
}

a:hover, a:focus {
  color: #5B0503;
}

// --- Nav Bar ---------------------//

.navbar  {
  margin-bottom: 0px;
  border-radius: 0px;
  z-index: 1;
}

.logo {
  padding-top: 7px;
  padding-left: 10px;
}

.forgot {
  color: #FFCC05;
}

.forgot:hover {
  color: #FF6605;
}

.navbar-inverse .navbar-nav > li > a {
  color: white;
  padding-top: 5px;
}

.navbar-inverse .navbar-nav > li > a:hover {
  color: #9d9d9d;
}

.top-nav{
  background-color: black;
  height: 60px;
  z-index: 2;
}

.bottom-nav {
  margin-top: 60px;
  background-color: #980905;
  min-height: 30px;
  height: 30px;
}

li.dropdown {
  padding-right: 25px;
  padding-top: 20px;
}

.navbar-form{
  margin-top: 6px;
}

.bottom-pad {
  padding-right: 19px;
}

.remember {
  color: white;
}

.nav-img {
  padding-top: 13px;
}

// --- Nav Bar ---------------------//

// --- Less Bootstrappy ---------------------//
.panel {
  border-radius: 0px;
}

.well {
  border-radius: 0px;
}

.modal-content {
  border-radius: 0px;
}

.btn {
  border-radius: 0px;
}

.form-control {
  border-radius: 0px;
}

.nav-tabs > li > a {
    border-radius: 0px 0px 0 0;
}

.dropdown-menu {
  border-radius: 0px;
}

// --- Less Bootstrappy ---------------------//

.eachJob {
  background-color: #cccfff;
}

.jobsIndex {
  max-width: 100%;
}

.educationIndex {
  max-width: 100%;
}

.jobButton {
  text-decoration: none;
  display: inline;
}

.iconImage {
  padding: 0px 0px 0px 0px;
}

.iconImagePanel {
  padding: 3px 5px 3px 10px;
}

.panelOverride {
  padding: 4px;
}

.panelBodyFeed {
  padding-left: 0px 0px 5px 100px;
  text-indent: left;
}

.smallImage {
  padding: 0px 10px 0px 0px;
}

// ---Members index ---------------------//

.memberPanelOverride {
  padding: 5px 5px 5px 15px;
}

.memberTitleOverride {
  padding: 0px 0px 5px 0px;
  margin: 0;
}



// --- Job Board ---------------------//

.jboardTitleOverride {
  padding: 0px 0px 0px 0px;
  margin: 0;
}




