<a href="http://www.accuweather.com/en/us/chicago-il/60608/weather-forecast/348308" class="aw-widget-legal">
</a><div id="awcc1429593575914" class="aw-widget-current"  data-locationkey="" data-unit="f" data-language="en-us" data-useip="true" data-uid="awcc1429593575914"></div><script type="text/javascript" src="http://oap.accuweather.com/launch.js"></script>